:root {
    --largura : 40;
    --altura : 40;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/* MAIN ocupa toda a largura e tem altura fixa */
main {
    width: 100%;
    height: 95vh;
    min-height: 500px;
    border: 2px dashed black;
    margin: 20px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CANVAS: quadrado centralizado dentro de MAIN */
#canvas {
    width: 75%;
    /* proporcional ao main */
    max-height: 100%;
    aspect-ratio: 1 / 1;
    /* garante que seja quadrado */

    background-color: pink;
    border: 2px solid black;

    display: grid;
    grid-template-columns: repeat(var(--largura), 1fr);
    grid-template-rows: repeat(var(--largura), 1fr);
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.snake {
    background-color: black;
}

.food {
    background-color: red;
}